/*
-----------------------------
Google+ Hangout/Events Plugin
Created by Yakadanda
-----------------------------
Default Stylesheet
-----------------------------
*/
/*-- PLUGIN SHoRtCoDe EVENTS
--------------------------------------------:-)*/
/* main event container */
.yghe-event {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: url(../images/event-texture.png) repeat 0% 0% #fefefe;
  border: 1px solid #d2d2d2;
  color: #5f5f5f;
  margin: 0 0 20px;
  padding: 10px;
  overflow: auto;
}
.yghe-event .yghe-organizer {
  color: #aaaaaa;
  float: right;
  font-size: 11px;
  text-align: right;
  width: 25%;
}
.yghe-event .yghe-organizer a {
  color: #444444;
  display: block;
  font-size: 12px;
  text-decoration: none;
}
.yghe-event .yghe-organizer a:hover {
  color: #3366cc;
  text-decoration: underline;
}
.yghe-event .yghe-event-title {
  float: left;
  font-weight: bold;
  margin: 0 3% 1.2% 0;
}
.yghe-event .yghe-event-title a {
  color: #444444;
  text-decoration: none;
}
.yghe-event .yghe-event-title a:hover {
  color: #3366cc;
  text-decoration: underline;
}
.yghe-event .yghe-event-time {
  background: url(../images/calendar-sm.png) no-repeat 0% 50%;
  clear: left;
  font-size: 90%;
  padding: 0 0 0 18px;
}
.yghe-event .yghe-event-location,
.yghe-event .yghe-event-hangout,
.yghe-event .yghe-event-onair {
  background: url(../images/location.png) no-repeat 0% 50%;
  clear: left;
  font-size: 90%;
  padding: 0 0 0 18px;
}
.yghe-event .yghe-event-hangout {
  background: url(../images/hangout.png) no-repeat 0% 50%;
}
.yghe-event .yghe-event-onair {
  background: url(../images/onair.png) no-repeat 0% 50%;
}
.yghe-event .yghe-event-location a,
.yghe-event .yghe-event-hangout a {
  color: #444444;
  text-decoration: none;
}
.yghe-event .yghe-event-location a:hover,
.yghe-event .yghe-event-hangout a:hover {
  color: #3366cc;
  text-decoration: underline;
}
.yghe-event .yghe-event-description {
  clear: both;
  font-size: 95%;
  margin: 1.5% 0 0;
}
.yghe-event .yghe-event-attendees, .yghe-event .yghe-shortcode-countdown {
  clear: both;
  font-size: 90%;
}
.yghe-event .yghe-event-attendees p {
  margin: 1.5% 0 0;
}
.yghe-event .yghe-event-attendees a {
  color: #444444;
  text-decoration: none;
}
.yghe-event .yghe-event-attendees a:hover {
  color: #3366cc;
  text-decoration: underline;
}
.yghe-event .yghe-event-attendees span {
  cursor: pointer;
}
/*-- PLUGIN WIDGETS
--------------------------------------------:-)*/
.widget .ghe-vessel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d2d2d2;
  line-height: 1.3em;
  margin-bottom: 20px;
  padding: 10px;
  /* main red button */

}
.widget .ghe-vessel a,
.widget .ghe-vessel a:hover {
  text-decoration: none;
}
.widget .ghe-vessel .ghe-title {
  margin-bottom: 10px;
}
.widget .ghe-vessel .ghe-title a:hover {
  color: #3366cc;
}
.widget .ghe-vessel .ghe-time {
  margin: 0 0 10px;
}
.widget .ghe-vessel ul.ghe-icons {
  margin: 10px auto;
  text-align: center;
}
.widget .ghe-vessel ul.ghe-icons li {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  display: inline;
  padding: 4px 8px;
  margin: 0 5px;
}
.widget .ghe-vessel ul.ghe-icons li a {
  color: #3366cc;
}
.widget .ghe-vessel ul.ghe-icons li a:hover {
  color: #d64337;
}
.widget .ghe-vessel .ghe-countdown {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 10px auto;
  padding: 5px;
  text-align: center;
}
.widget .ghe-vessel .ghe-countdown em {
  margin: 0 4px;
}
.widget .ghe-vessel .ghe-button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #d64337;
  cursor: pointer;
  margin: 0px auto 0;
  padding: 5px;
  text-align: center;
}
.widget .ghe-vessel .ghe-button a {
  color: #fff;
}
.widget .ghe-vessel .ghe-button a:hover {
  color: #fff;
}
.widget .ghe-vessel .ghe-button:hover {
  color: #fff;
  background: #c03c34;
}
