/**
 * Google+ Hangout Event 0.0.3
 * © 2012
 */
#google-hangout-event .icon32-posts-quote {
  background-image: url("../images/icon-hangout_35_34.png");
  background-position: 0;
}

.widget_googleplus_hangout_events_single,
.widget_googleplus_hangout_events_extra {
  
}

.widget_googleplus_hangout_events_single #ghe-widget-single .ghe-vessel,
.widget_googleplus_hangout_events_extra #ghe-widget-extra .ghe-vessel {
  position: relative;
}

.widget_googleplus_hangout_events_single #ghe-widget-single .ghe-dotted,
.widget_googleplus_hangout_events_extra #ghe-widget-extra .ghe-dotted {
  border-top: 2px dotted #000;
  margin: 5px auto 5px auto;
  width: 30px;
}

.widget_googleplus_hangout_events_single h3.widget-title,
.widget_googleplus_hangout_events_extra h3.widget-title {
  
}

.widget_googleplus_hangout_events_single h4.ghe-title,
.widget_googleplus_hangout_events_extra h4.ghe-title {
  text-align: left;
  margin: 0 55px 0 10px;
  padding-top: 10px;
}

.widget_googleplus_hangout_events_single h4.ghe-title a:link, .widget_googleplus_hangout_events_single h4.ghe-title a:visited, .widget_googleplus_hangout_events_single h4.ghe-title a:active,
.widget_googleplus_hangout_events_extra h4.ghe-title a:link, .widget_googleplus_hangout_events_extra h4.ghe-title a:visited, .widget_googleplus_hangout_events_extra h4.ghe-title a:active {
  text-decoration: none;
}
.widget_googleplus_hangout_events_single h4.ghe-title a:hover,
.widget_googleplus_hangout_events_extra h4.ghe-title a:hover {
  text-decoration: underline;
}

.widget_googleplus_hangout_events_single .ghe-time {
  text-align: left;
  margin: 0 55px 11px 10px;
  padding-top: 11px;
}
.widget_googleplus_hangout_events_extra .ghe-time {
  text-align: left;
  margin: 0 55px 10px 10px;
}

.widget_googleplus_hangout_events_single .ghe-icon,
.widget_googleplus_hangout_events_extra .ghe-icon {
  background-image: url("../images/icon-hangout.png");
  display: block;
  height: 37px;
  width: 38px;
  position: absolute;
  top: 7px;
  right: 14px;
}

.widget_googleplus_hangout_events_single .ghe-detail,
.widget_googleplus_hangout_events_extra .ghe-detail {
  border-top: 2px solid #efefef;
  min-height: 80px;
  text-align: left;
  padding: 10px;
}

.widget_googleplus_hangout_events_single .ghe-border,
.widget_googleplus_hangout_events_extra .ghe-border {
  background-image: url("../images/border.png");
  display: block;
  height: 3px;
}

.widget_googleplus_hangout_events_single .ghe-countdown,
.widget_googleplus_hangout_events_extra .ghe-countdown {
  min-height: 52px;
  line-height: 52px;
  text-align: center;
  padding: 0 10px 0 10px;
  word-wrap:break-word;
}

.widget_googleplus_hangout_events_single .ghe-countdown span,
.widget_googleplus_hangout_events_extra .ghe-countdown span {
  font-weight: normal;
}

.widget_googleplus_hangout_events_single .ghe-countdown em,
.widget_googleplus_hangout_events_extra .ghe-countdown em {
  color: #ffdb00;
  margin: 0 2px 0 2px;
}
