/**
 * Google+ Hangout Event 0.0.2
 * © 2012
 */
#google-hangout-event .icon32-posts-quote {
  background-image: url("images/icon-hangout_35_34.png");
  background-position: 0;
}

.widget_googleplus_hangout_event {
  
}

.widget_googleplus_hangout_event #ghe-widget .ghe-vessel {
  position: relative;
}

.widget_googleplus_hangout_event #ghe-widget .ghe-dotted {
  border-top: 2px dotted #000;
  margin: 5px auto 5px auto;
  width: 30px;
}

.widget_googleplus_hangout_event h3.widget-title {
  
}

.widget_googleplus_hangout_event h4.ghe-title {
  text-align: left;
  margin: 0 10px 0 10px;
}

.widget_googleplus_hangout_event h4.ghe-title a:link, .widget_googleplus_hangout_event h4.ghe-title a:visited, .widget_googleplus_hangout_event h4.ghe-title a:active {
  text-decoration: none;
}
.widget_googleplus_hangout_event h4.ghe-title a:hover {
  text-decoration: underline;
}

.widget_googleplus_hangout_event .ghe-time {
  text-align: left;
  margin: 0 10px 0 10px;
  min-height: 23px;
}

.widget_googleplus_hangout_event .ghe-icon {
  background-image: url("images/icon-hangout.png");
  display: block;
  height: 37px;
  width: 38px;
  position: absolute;
  top: 7px;
  right: 14px;
}

.widget_googleplus_hangout_event .ghe-detail {
  border-top: 2px solid #efefef;
  margin-top: 5px;
  min-height: 80px;
  text-align: left;
  padding: 10px;
}

.widget_googleplus_hangout_event .ghe-border {
  background-image: url("images/border.png");
  display: block;
  height: 3px;
}

.widget_googleplus_hangout_event .ghe-countdown {
  min-height: 52px;
  line-height: 52px;
  text-align: center;
  padding: 0 10px 0 10px;
  word-wrap:break-word;
}

.widget_googleplus_hangout_event .ghe-countdown span {
  font-weight: normal;
}

.widget_googleplus_hangout_event .ghe-countdown em {
  color: #ffdb00;
  margin: 0 2px 0 2px;
}
